@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* dont need extra space  */
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

/* body  default color  */

body {
  background-color: #bddcff;
  text-align: center;
}

/* here main 😌😉 is centerd */

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content {
  background-color: #c70039;
  padding: 2rem 0rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 8px 40px;
  border-radius: 10px;
}

#btn,
.quote {
  margin: 1rem;
}

/* button styling  */
#btn {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  background: white;
  box-shadow: rgb(0 0 0 / 10%) 0px 8px 40px;
}

.quote {
  font-weight: 900;
  font-size: 3rem;
  color: #29baf3;
}
